<div class="container">
    <div class="row">
        <div class="col-sm-2">
            {{!--Nav vertical admin --}}
            <ul class="nav flex-sm-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sites</a>
                </li>
            </ul>
            {{!--/Nav vertical admin --}}
        </div>
        <div class="col-sm-10">

        </div>

    </div>
</div>

<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0">
      <nav class="navbar navbar-expand flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
               <a class="nav-link pl-0" href="#">Menu 1</a>
            </li>
            <!-- Insérez ici le reste de votre menu -->            
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col">
      <!-- Insérez ici le contenu principal du site ou de l'application -->
    </main>
  </div>
</div>