<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0">
      <nav class="navbar navbar-expand flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
              {{!-- <a class="nav-link pl-0" href="#utilisateur">Utilisateurs</a> --}}
              <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">Utilisateurs</a>
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link pl-0" href="#article">Articles</a> --}}
              <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">Articles</a>
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link pl-0" href="#message">Messages</a> --}}
              <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">Messages</a>
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link pl-0" href="#commentaire">Commentaires</a> --}}
              <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">Commentaires</a>
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link pl-0" href="#note">Notes</a> --}}
              <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" type="button" href="#site">Sites</a>
              {{!-- <a class="pl-0 btn collapsed" role="button" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">Sites</a> --}}
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col">
      <div class="text-center">
        <h1>Admin</h1>
      </div>

      <div class="accordion" id="accordionExample">

        {{!------------------------------------------------------------- UTILISATEURS-----------------------------------------------------------}}

        {{> admin/sectionUser }}

        {{!------------------------------------------------------------- ARTICLES-----------------------------------------------------------}}

        {{> admin/sectionActu }}

        {{!------------------------------------------------------------- MESSAGES-----------------------------------------------------------}}

        {{> admin/sectionMessage }}

        {{!------------------------------------------------------------- COMMENTAIRES-----------------------------------------------------------}}

        {{> admin/sectionComm }}

        {{!------------------------------------------------------------- NOTES/COMMENTAIRE-----------------------------------------------------------}}

        {{> admin/sectionNote }}

        {{!------------------------------------------------------------- SITES REPERTORY-----------------------------------------------------------}}

        {{> admin/sectionSite }}

      </div>
      <!-- Insérez ici le contenu principal du site ou de l'application -->
    </main>
  </div>
</div>




{{!-- Modal envoi message --}}
{{!-- <div class="modal fade" id="modalCreateMessage" tabindex="-1" role="dialog" aria-labelledby="#modalCreateMessage"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateMessageLabel">Envoyer un message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/#" method="POST">
        <div class="container">
          <div class="row modal-body">
            <div class="col-md-12">
              <div class="form-group ">
                <input type="text" class="form-control" placeholder="Votre pseudo*" name="pseudo" required>
              </div>
              <div class="form-group ">
                <input type="text" class="form-control" placeholder="Destinataire*" name="destinataire" required>
              </div>
              <div class="form-group ">
                <input type="text" class="form-control" placeholder="Sujet*" name="subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Votre message*" name="content" required></textarea>
              </div>
              <div class="col-md-12 ">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn">Envoyer</button>
                  <button type="button" class="btn p-2" data-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>
      </form>

    </div>
  </div>
</div> --}}
{{!-- /Modal envoi message --}}