{{!-- 
Page A propos
 --}}
<div class="container text-center my-5">

    {{!-- Titre --}}
    <h1 class="colorWrite title">A propos de moi</h1>
    {{!-- /Titre --}}

    <div class="row mt-4">
        {{!-- Photo de profil --}}
        <div class="col-md-4 d-flex justify-content-center my-3">
            <img src="/public/ressources/images/default/photoProfilAbout.jpg" class="rounded-circle float-left"
                height="200px" width="180px" style="object-fit: contain" alt="photo de profil">
        </div>
        {{!-- /Photo de profil --}}

        {{!-- Présentation --}}
        <div class="col-md-8 d-flex align-items-center">
            <p>Bienvenue à tous.
                <br>Je m'appelle Lucie et au moment où j'écris ces lignes j'ai encore 30ans. Je suis actuellement en
                pleine reconversion professionnelle dans le développement web et web mobile.
                J'ai donc décidé de ME créer un site. Et voici donc comment a démarré le projet du "blog sans
                allergènes" dont je suis conceptrice et auteure (débutante...).
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <p>Ce projet m'est venu en tête car je suis moi même un régime sans allergènes (gluten et lactose)
            pour des raisons médicales suite aux conseils de mon spécialiste. J'ai donc pu constater qu'au départ on est
            un peu démuni suite à cette "nouvelle alimentation". Je dirais même que l'on ai désemparé... On ne sait pas
            par où commencer, quoi acheter, on se dit qu'on ne réussira pas aussi bien nos recettes, on échoue sur
            certaines... Et puis on trouve des sites, des recettes, des conseils, des idées (il existe même de superbes
            communautés) et là ça va mieux. On commence à réussir des recettes, à se régaler (et à régaler les autres!).
            Voilà pourquoi j'ai voulu faire un site qui permet de recenser au même endroits tous les sites proposant
            cela et surtout de permettre de les trier afin de facilité les recherches. J'espère également pouvoir
            publier moi-même des articles ou recettes qui pourront à votre tour vous aider.
            <br>Bonne visite à tous et
            surtout... régalez-vous !
            <br>(Ps : n'hésitez pas à me faire des retours via ma page contact afin de faire évoluer
            ce site. Des évolutions sont déjà prévues mais toutes idées ou remarques est bon à prendre.)</p>
    </div>
    {{!-- /Présentation --}}

</div>