<div class="container text-center">
    <h1>A propos de moi</h1>
    <div class="row ">
        <div class="col-md-4">
            <img src="/public/ressources/images/profilDefaultImage.jpg" class="rounded-circle float-left" height="200px"
                width="180px" alt="image de l'article">
        </div>
        <div class="col-md-8">
            <p>Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris fore congressione
                stataria documentis frequentibus scirent, tramitibus deviis petivere Pamphyliam diu quidem intactam sed
                timore populationum et caedium, milite per omnia diffuso propinqua, magnis undique praesidiis
                conmunitam.</p>
        </div>
    </div>
    <div class="row ">
        <p>Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris fore congressione
            stataria documentis frequentibus scirent, tramitibus deviis petivere Pamphyliam diu quidem intactam sed
            timore populationum et caedium, milite per omnia diffuso propinqua, magnis undique praesidiis conmunitam.

            Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina
            praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris
            implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.</p>
    </div>
</div>