<div class="container text-center mb-5">
    <h1 class="mt-5 colorGreen">Contact</h1>
    <div class="row my-4">
        <div class="col-md-12">
            <table class="table-sm table-responsive d-flex justify-content-center">
                <tr>
                    <th scope="col"><a href="#"><i class="fab fa-facebook-square fa-3x mx-1" style="color: #3b5999"></i></a></th>
                    <th scope="col"><a href="#"><i class="fab fa-twitter-square fa-3x mx-1" style="color: #55acee"></i></a></th>
                    <th scope="col"><a href="#"><i class="fab fa-instagram fa-3x mx-1" style="color: #e4405f"></i></a></th>
                    <th scope="col"><a href="#"><i class="fab fa-youtube-square fa-3x mx-1" style="color: #cd201f"></i></a></th>
                </tr>
            </table>
        </div>
    </div>
    {{#if needAlert }}
        {{#if isError  }}
    <label class="text-danger">Votre message n'a pas pu être envoyé. Veuillez réessayer plus tard.</label>
        {{/if}}
        {{#unless isError  }}
    <labe class="text-success">Votre message a bien été envoyé.</label>
        {{/unless}}
    {{/if}}
        <div class="row d-flex justify-content-center">
            <form action="/contact" method="POST">
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Votre nom*" name="nameContact" required>
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Votre pseudo*" name="pseudo" required>
                </div>
                <div class="form-group ">
                    <input type="email" class="form-control" placeholder="Votre email*" name="emailContact" required>
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Sujet*" name="subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Votre message*" name="content"
                        required></textarea>
                </div>
                <button id="envoyer" type="submit" class="btn mt-2">Envoyer</button>
            </form>
        </div>
</div>

{{!-- <script>

    $("#envoyer").click(function () {
        $.ajax({
            url: '/contact',
            type: 'POST',
            data: { name: $("input[name=nameContact]").val() },
            dataType: 'json',
            success: function (json, statut) {
                $("input[name=emailContact]").val(json.username);

                if (json.test) {
                    window.location.replace("/");
                }

            },
            error: function (resultat, statut, erreur) {
                console.log(resultat);
                console.log(statut);
                console.log(erreur);

            }

        });

    });

</script> --}}