{{!-- 
Page contact
 --}}
<div class="container text-center mb-5">
    <div class="row">
        {{!-- Colonne du formulaure contact --}}
        <div class="col-md-9">
            <div class="container">
                <div class="row d-flex flex-column justify-content-center">

                    {{!-- Titre --}}
                    <h1 class="my-5 colorWrite title">Contact</h1>
                    {{!-- /Titre --}}

                    {{!-- Zone affichage message d'alerte aux utilisateurs --}}
                    {{#if needAlert }}
                    {{#if isError  }}
                    <label class="text-danger h3 mb-5">Votre message n'a pas pu être envoyé. Veuillez réessayer plus
                        tard.</label>
                    {{/if}}
                    {{#unless isError  }}
                    <label class="text-success h3 mb-5">Votre message a bien été envoyé.</label>
                    {{/unless}}
                    {{/if}}
                    {{!-- /Zone affichage message d'alerte aux utilisateurs --}}

                    {{!-- Formulaire de contact --}}
                    <form action="/contact" method="POST">
                        <div class="form-row mb-2">
                            <div class="form-group col-md-6 pr-5">
                                <label for="nomContact" class="d-flex justify-content-start">Votre
                                    nom</label>
                                <input type="text" id="nomContact" class="form-control" placeholder="Votre nom*"
                                    name="nameContact" value="{{ dbUserId.name }}" {{#if user}} disabled="disabled"
                                    {{/if}} required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="pseudoContactl" class="d-flex justify-content-start">Votre
                                    pseudo</label>
                                <input type="text" id="pseudoContact" class="form-control" placeholder="Votre pseudo*"
                                    name="pseudo" value="{{ dbUserId.pseudo }}" {{#if user}} disabled="disabled" {{/if}}
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="emailContact" class="d-flex justify-content-start">Votre
                                email</label>
                            <input type="email" id="emailContact" class="form-control" placeholder="Votre email*"
                                name="emailContact" value="{{ dbUserId.email }}" required>
                        </div>
                        <div class="form-group mt-4">
                            <label for="sujetContact" class="d-flex justify-content-start">Votre
                                sujet</label>
                            <input type="text" id="sujetContact" class="form-control" placeholder="Sujet*"
                                name="subject" required>
                        </div>
                        <div class="form-group mt-4">
                            <label for="messageContact" class="d-flex justify-content-start">Votre
                                message</label>
                            <textarea id="messageContact" class="form-control" rows="5" placeholder="Votre message*"
                                name="content" required></textarea>
                        </div>
                        <button id="envoyer" type="submit" class="btn btnSite mt-2">Envoyer</button>
                    </form>
                    {{!-- /Formulaire de contact --}}

                </div>
            </div>
        </div>
        {{!-- /Colonne du formulaure contact --}}

        {{!-- Colonne des Réseaux sociaux --}}
        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mt-4">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li class="mb-4" scope="col"><a href="#"><i class="fab fa-facebook-square fa-3x mx-1 network"
                                    style="color: #3b5999"></i></a></li>
                        <li class="mb-4" scope="col"><a href="#"><i class="fab fa-twitter-square fa-3x mx-1 network"
                                    style="color: #55acee"></i></a></li>
                        <li class="mb-4" scope="col"><a href="#"><i class="fab fa-instagram fa-3x mx-1 network"
                                    style="color: #e4405f"></i></a>
                        </li>
                        <li class="mb-4" scope="col"><a href="#"><i class="fab fa-youtube-square fa-3x mx-1 network"
                                    style="color: #cd201f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- /Colonne des Réseaux sociaux --}}

    </div>
</div>