<div class="container my-5">
    <h1 class="mb-3">Oops !!!</h1>
    <h2>Erreur sur la page</h2>
    <div class="row mt-4">
        <div class="col-md-12 mb-5">
            <p><a href="/">Retourner sur la page d'accueil</a> </p>
        </div>
    </div>
</div>