<h1>Accueil</h1>

<p>Liens actus</p>
<a href="/actuCreate">Créer une actu : POST</a>

<p>Liens user</p>
<a href="/userCreate">Créer un user : POST</a>
<a href="/userListing">Lister les users pour accéder à user single : GET</a>


<p>Liens admin</p>
{{#if isAdmin }}
<a href="/adminUserList">Tous les users : GET</a>
{{/if}}


