<h1>CouCOU</h1>

<a href="/actuCreate">Créer une actu : POST</a>
<a href="/actus">Toutes les actus : GET</a>
<a href="/userList">Tous les users : GET</a>
<a href="/userCreate">Créer un user : POST</a>
