<footer class="bg-light d-table-row mt-4">
    {{!-- <footer class="bg-light"> --}}

    <div class="container-fluid mt-4 d-flex justify-content-around">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 flex-column d-flex align-items-center justify-content-center">
                            <a class="text-reset d-flex justify-content-center" href="/about">A propos</a>
                        </div>
                        <div class="col-md-6">
                            <img src="/public/ressources/images/photoProfilAbout.jpg" class="rounded-circle float-left"
                                height="50px" width="50px" alt="image de l'article">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex flex-column align-items-center mt-3">
                            <p>Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris
                                fore
                                congressione
                                stataria documentis frequentibus scirent</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                            <a class="text-reset" href="/contact">Contact</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
                            <a href="#"><i class="fab fa-facebook-square fa-2x mx-1" style="color: #3b5999"></i></a>
                            <a href="#"><i class="fab fa-twitter-square fa-2x mx-1" style="color: #55acee"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-2x mx-1" style="color: #e4405f"></i></a>
                            <a href="#"><i class="fab fa-youtube-square fa-2x mx-1" style="color: #cd201f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row d-flex flex-column align-items-center">
                        <a class="text-reset my-1" href="#">Mentions légales</a>
                        <div class="w-100"></div>
                        <a class="text-reset my-1" href="#">Conditions d'utilisation</a>
                        <div class="w-100"></div>
                        <a class="text-reset my-1" href="#">Site créé par lt-dev</a>
                        {{!-- lien vers mon portfolio à mettre quand OK --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>