<footer class="footer mt-auto py-3 bg-light ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="text-reset d-flex justify-content-center" href="/about">A propos</a>
                        </div>
                        <div class="col-md-6">
                            <img src="/public/ressources/images/profilDefaultImage.jpg"
                                class="rounded-circle float-left" height="50px" width="50px" alt="image de l'article">
                        </div>
                    </div>
                    <div class="row d-flex flex-column align-items-center">
                        <div class="col-md-12">
                            <p>Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris
                                fore
                                congressione
                                stataria documentis frequentibus scirent</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        {{!-- <div class="col-md-12 "> --}}
                        <div class="col-md-12 d-flex flex-column align-items-center">
                            <a class="text-reset" href="/contact">Contact</a>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                            <a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
                        </div>
                        {{!-- </div> --}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row d-flex flex-column align-items-center">
                        <a class="text-reset" href="#">Mentions légales</a>
                        <div class="w-100"></div>
                        <a class="text-reset" href="#">Conditions d'utilisation</a>
                        <div class="w-100"></div>
                        <a class="text-reset" href="#">Site créé par lt-dev</a>
                        {{!-- lien vers mon portfolio à mettre quand OK --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>