<!doctype html>
<html lang="fr" class="h-100">

<head>

    {{#if cookieGA}}
    {{!-- Global site tag (gtag.js) - Google Analytics --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163588076-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163588076-1');
    </script>
    {{!-- /Global site tag (gtag.js) - Google Analytics --}}
    <!-- Google Tag Manager -->
    {{!-- <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJK7F32');</script> --}}
    <!-- End Google Tag Manager -->
    {{/if}}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- META pour crawlers moteur de recherche --}}
    {{!-- <meta name="robots" /> --}}

    {{!-- META balise titre : doit être unique par page --}}
    <title>Le blog qui liste les sites de recettes sans allergènes : {{title}} {{ dbActu.title }}</title>

    {{!-- META balise description : doit être unique par page --}}
    <meta name="description" content={{description}} {{ dbActu.title }}>

    {{!-- Balisage JSON-LD généré par l'outil d'aide au balisage de données structurées de Google --}}
    {{!-- {{> seo}} --}}

    {{!-- JQUERY --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- CSS --}}
    <link rel="stylesheet" href="/public/css/style.css">

    {{!-- Fontewasone --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- Favicon --}}
    <link rel="shortcut icon" type="image/png" href="/public/ressources/images/default/faviconImageLogo.jpg" />

</head>


<body class="m-0 p-0 h-100 justify-content-between font">
    {{#if cookieGA}}
    {{!-- <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJK7F32" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript> --}}
    <!-- End Google Tag Manager (noscript) -->
    {{/if}}

    <div class="d-table w-100 h-100">