{{!-- 
Header ADMIN du site

Ce qui change : 
couleur background
message avec nouveaux user, commentaires, etc... => A rendre fonctionnel

Note : 
La faire sur tout les onglets dès lors qu'admin est co ??
Barre de recherche : à rendre fonctionnel
 --}}

<header class="d-table-row bgNavAdmin w-100">

    {{!------------ nav 1 ------------------}}
    <div>
        <ul class="nav justify-content-end" id="scrollup">
            {{#if isAdmin }}
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/admin">Admin</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/about">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted colorBlack" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted dropdown-toggle dropdown-menu-right colorBlack" data-toggle="dropdown"
                    href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
                <div class="dropdown-menu dropdown-menu-right">
                    {{#if user}}
                    <button class="dropdown-item" type="submit" data-toggle="modal"
                        data-target="#modalUserEdit{{ _id }}">Gérer
                        mon compte</button>
                    <a class="dropdown-item" href="/userLogOut">Se déconnecter</a>
                    {{else}}
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalUserCreate">Créer
                        un
                        compte</button>
                    <button class="dropdown-item" type="button" data-toggle="modal"
                        data-target="#modalAuthentification">Se
                        connecter</button>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
    {{!------------ /nav 1 ------------------}}


    {{!------------ Image logo + phrase d'accroche ------------------}}
    <div class="mb-3">
        <img src="/public/ressources/images/default/imageLogo.jpeg"
            class="img-fluid rounded mx-auto d-block rounded-circle mb-1" style="height : 150px; object-fit: contain"
            alt="Image logo du site">
        <p class="text-center colorBlack h5">Le "<b>blog sans allergènes</b>" qui répertorie les autres !!</p>
    </div>
    {{!------------ /Image logo + phrase d'accroche ------------------}}


    {{!------------ nav 2 ------------------}}
    <div class="container-fluid d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/">Accueil</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/repertory">Répertoire</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link colorBlack" href="/actus">Mes articles</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{!------------ /nav 2 ------------------}}


    {{!------------ barre recherche ------------------}}
    {{!-- <div class="container d-flex justify-content-center mb-3">
        <form class="form-inline">
            <input class="form-control form-control-sm" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0 btn-sm" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div> --}}
    {{!------------ /barre recherche ------------------}}


    {{!------------ messages admin ------------------}}
    {{!-- <div class="container-fluid d-flex justify-content-around mr-3">
        <p class="text-danger mr-2">Vous avez ... nouveaux messages</p>
        <p class="text-danger">Vous avez ... nouveaux commentaires</p>
        <p class="text-danger">Vous avez ... nouveaux sites</p>
        <p class="text-danger">Vous avez ... nouveaux utilisateurs</p>
        <p class="text-danger">Vous avez ... nouvelles notes</p>
    </div> --}}
    {{!------------ /messages admin ------------------}}


    {{!------------ modal Création compte ------------------}}
    {{> modal/modalHeaderCreateAccount}}
    {{!------------ /modal Création compte ------------------}}

    {{!------------ modal Connexion ------------------}}
    {{> modal/modalHeaderConnexion}}
    {{!------------ /modal Connexion ------------------}}


    {{!------------ modal Gestion compte ------------------}}
    {{> modal/modalHeaderPutAccount}}
    {{!------------ /modal Gestion compte  ------------------}}

    {{!------------------ Modal confirmation suppression compte-------------------}}
    {{> modal/modalHeaderConfirmDeleteUser}}
    {{!--------------------- /Modal confirmation suppression compte-------------------}}

</header>

{{#if bandeauCookieGA}}
<div id="cookie_directive_container" class="container bgFooter">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-inner navbar-content-center" id="cookie_accept">
                <p class="text-muted credit mt-3">
                    Mon site utilise des cookies pour vous garantir une meilleure expérience et pour analyser le trafic
                    et la performance du site.
                    <br>Veuillez consulter nos <a class="text-reset" href="/termsOfService">conditions générales
                        d'utilisation</a> et les
                    <a class="text-reset" href="/legalNotice">mentions légales</a> pour plus d'informations.
                </p>
                <a href="/refuseCookieGA" class="btn btn-default pull-right">Refuser</a>
                <a href="/newCookieGA" class="btn btn-default pull-right">Accepter</a>
            </div>
        </div>
    </nav>
</div>
{{/if}}

<script>
    //{{!-- SCRIPT MESSAGE MODAL CONNEXION --}}
    //{{!-- Requête ajax avec Jquery --}}
    function connexionModal() {
        console.log("test");
        $.ajax({
            url: '/authentification',
            type: 'POST',
            data: { email: $("input[name=emailAuth]").val(), password: $("input[name=passwordAuth]").val() },
            dataType: 'json',
            success: function (json, statut) {
                console.log(json.message);
                $("#messageErrorAuth").removeClass("d-none");
                $("#messageErrorAuth").text(json.message);

                if (json.noError) {
                    window.location.replace("/");
                }
            },
            error: function (resultat, statut, erreur) {
                console.log(resultat);
                console.log(statut);
                console.log(erreur);
            }
        });
    };
    //{!-- /SCRIPT MESSAGE MODAL CONNEXION --}}


    //{{!-- SCRIPT CREATION COMPTE : message et éviter Multer envoi image quand mdp différent et quand email déjà dans BDD --}}
    $(document).ready(function () {
        const formCreateAccount = document.getElementById('formCreateAccount');
        const messageErrorCreateAccount = document.getElementById('messageErrorCreateAccount');
        const checkboxForm = document.getElementById('gridCheckConditionsModalCreateAccount');

        $("#formCreateAccount").submit(function (event) {
            event.preventDefault();

            const Pass = formCreateAccount.passwordModalCreateAccount.value
            const confPass = formCreateAccount.confPasswordModalCreateAccount.value
            //console.log(Pass)
            //console.log(confPass)

            const similarePass = (Pass === confPass)

            if (!similarePass) {
                console.log('not similare pass')
                messageErrorCreateAccount.classList.remove("d-none")
                messageErrorCreateAccount.textContent = "Vos mots de passe sont différents. Veuillez rééssayer."
                return;
            }

            if (!checkboxForm.checked) {
                console.log('not checked')
                messageErrorCreateAccount.classList.remove("d-none")
                messageErrorCreateAccount.textContent = "Vous n'avez pas accepté les conditions générales d'utilisations du site. Veuillez cocher la case."
                return;
            }

            console.log('similare pass OK et checkbox OK')

            submitModalCreateUser()

        });

        function submitModalCreateUser() {
            //console.log("coucou")

            $.ajax({
                url: '/checkMail',
                type: 'POST',
                data: {
                    email: $("input[name=emailModalCreateAccount]").val()
                },
                success: function (json, statut) {
                    //console.log("test")
                    //console.log(json)

                    if (json.emailExist) {
                        $("#messageErrorCreateAccount").removeClass("d-none");
                        $("#messageErrorCreateAccount").text("Cette email est déjà enregistré. Connectez-vous.");
                    } else {
                        //console.log($('input[name=imageModalCreateAccount]')[0].files[0])

                        const formData = new FormData();
                        // objet formulaire contenant les données de mon formulaire
                        formData.append('image', $('input[name=imageModalCreateAccount]')[0].files[0]);
                        formData.append('name', $("input[name=nameModalCreateAccount]").val());
                        formData.append('pseudo', $("input[name=pseudoModalCreateAccount]").val());
                        formData.append('email', $("input[name=emailModalCreateAccount]").val());
                        formData.append('password', $("input[name=passwordModalCreateAccount]").val());
                        formData.append('confPassword', $("input[name=confPasswordModalCreateAccount]").val());

                        $.ajax({
                            url: '/userCreate',
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (json, statut) {
                                //console.log("test")
                                //console.log(json.message);
                                //console.log(json.noError)
                                $("#messageErrorCreateAccount").removeClass("d-none");
                                $("#messageErrorCreateAccount").text(json.message);

                                if (json.noError) {
                                    //window.location.replace("/");
                                    setTimeout(function () { window.location.replace("/"); }, 2000);
                                }

                            },
                            error: function (resultat, statut, erreur) {
                                console.log(resultat);
                                console.log(statut);
                                console.log(erreur);
                            }
                        });
                    }
                },
                error: function (resultat, statut, erreur) {
                    console.log(resultat);
                    console.log(statut);
                    console.log(erreur);
                }
            });
        }
    })
//{{!-- /SCRIPT CREATION COMPTE : message et éviter Multer envoi image quand mdp différent et quand email déjà dans BDD--}}
</script>