<form action="/authentification" method="post">
    <div>
        <label for="email">Email :</label>
        <input id="email" type="email" name="email" placeholder="Votre Email *" required>
    </div>
    <div>
        <label for="pass">Mot de passe :</label><br>
        <input id="pass" type="password" name="password" placeholder="Votre mot de passe *" required>
    </div>
    <input type="submit">
    <div>
        <a href="#">Mot de passe oublié</a>
    </div>
</form>