<div class="container my-5">
    <h1 class="colorGreen">Super</h1>
    <h2 class="mb-3 colorGreen">Votre email a bien été vérifié</h2>
    <div class="row mt-4">
        <div class="col-md-12 mb-5">
            <p><a href="/">Revenir sur la page d'accueil pour se connecter</a> </p>
        </div>
    </div>
</div>