<div class="container">
    <h1>Réinitialiser mon mot de passe</h1>
    <div class="row">
        <form action="/forgotPassword" method="POST">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Votre Email *" value=""
                        required />
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn">Réinitialiser</button>
                    <a href="/"><button type="button" class="btn p-2" data-dismiss="modal">Revenir à l'accueil</button></a>
                </div>
            </div>
        </form>
    </div>
</div>