<div class="container my-5">
    <div class="row mt-5 d-flex flex-column">
        <h1 class="colorWrite my-5">Réinitialiser mon mot de passe</h1>
        {{#if errorUserNotExist }}
        <label class="text-danger h3 mb-5">Vous n'avez pas de compte. Vous pouvez en créer un.</label>
        {{/if}}
        {{#if needAlertSend  }}
        {{#if isError  }}
        <label class="text-danger h3 mb-5">Votre email de réinitialisation n'a pas pu vous être envoyé. Veuillez
            réessayer
            plus tard.</label>
        {{/if}}
        {{#unless isError  }}
        <label class="text-success h3 mb-5">Votre email de réinitialisation vous a été envoyé.</label>
        {{/unless}}
        {{/if}}
        <form action="/forgotPassword" method="POST">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="email" class="form-control w-25" name="email" placeholder="Votre Email *" value=""
                        required />
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="d-flex">
                    <a href="/"><button type="button" class="btn btnSite mt-3 mr-3" data-dismiss="modal">Revenir à
                            l'accueil</button></a>
                    <button type="submit" class="btn btnSite mt-3">Réinitialiser</button>
                </div>
            </div>
        </form>
    </div>
</div>