{{!-- 
Page modification de mot de passe suite clique utilisateur sur lien dans mail envoyé
 --}}
<div class="container my-5">
    <div class="row mt-5 d-flex flex-column">

        {{!-- Titre --}}
        <h1 class="colorWrite my-5">Créez votre nouveau mot de passe</h1>
        {{!-- /Titre --}}

        {{!-- Zone affichage message d'alerte aux utilisateurs --}}
        {{#if errorPass  }}
        <label class="text-danger h3 mb-5">Vos mots de passe sont différents. Veuillez refaire une demande de
            réinitialisation.</label>
        {{/if}}
        {{#if needAlertSend  }}
        {{#if isError  }}
        <label class="text-danger h3 mb-5">Votre réinitialisation n'a pas pu être effectuée. Veuillez
            réessayer
            plus tard.</label>
        {{/if}}
        {{#unless isError  }}
        <label class="text-success h3 mb-5">Votre réinitialisation a bien été effectuée. Un email de confirmation vous a
            été envoyé. Vous pouvez vous connecter.</label>
        {{/unless}}
        {{/if}}
        {{!-- /Zone affichage message d'alerte aux utilisateurs --}}

        {{!-- Formulaire de modification de mot de passe --}}
        <form action="/resetPassword/{{ dbUser._id }}" method="POST">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="password" class="form-control w-25 mb-4" name="newPassword"
                        placeholder="Nouveau mot de passe *" value="" maxlength="100"
                        title="Au moins 8 caractères dont 1 majuscule, 1 minuscule et 1 chiffre ou 1 caractère spécial."
                        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required />
                    <input type="password" class="form-control w-25" name="confNewPassword"
                        placeholder="Confirmation du mot de passe *" value="" maxlength="100"
                        title="Au moins 8 caractères dont 1 majuscule, 1 minuscule et 1 chiffre ou 1 caractère spécial."
                        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required />
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="d-flex">
                    <a href="/"><button type="button" class="btn btnSite mt-3 mr-3" data-dismiss="modal">Revenir à
                            l'accueil</button></a>
                    <button type="submit" class="btn btnSite mt-3">Créer</button>
                </div>
            </div>
        </form>
        {{!-- Formulaire de modification de mot de passe --}}

    </div>
</div>