<div class="container">
    <h1>{{user.pseudo}} Créer mon nouveau mot de passe</h1>
    <div class="row">
        <form action="/resetPassword/{{ user._id }}" method="POST">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="password" class="form-control" name="newPassword"
                        placeholder="Votre nouveau mot de passe *" value="" required />
                    <input type="password" class="form-control" name="confNewPassword"
                        placeholder="Confirmer votre nouveau mot de passe *" value="" required />
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn">Créer</button>
                    <a href="/"><button type="button" class="btn p-2" data-dismiss="modal">Revenir à
                            l'accueil</button></a>
                </div>
            </div>
        </form>
    </div>
</div>