<div>
    <h1>Créer un compte</h1>
</div>
<div>
    {{!-- formulaire d'inscription --}}
    <form action="/userCreate" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Nom d'utilisateur</label>
            <input type="input" name="name" required>
            {{!--required permet de forcer le remplissage de la zone de texte --}}
        </div>
        <div>
            <label for="email">Adresse Email</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="conf-password">Confirmer le mot de passe</label>
            <input type="password" name="confPassword" required>
        </div>
        <div>
            <label>
                <input type="file" name="image">
                <span>
                    Envoyer une photo de profil
                </span>
            </label>
        </div>
        <div>
            <input type="checkbox" name="gridCheck" required>
            {{!--gridcheck renvoi "on" dans un req.body.gridCheck si cocher--}}
            <label>
                Je déclare accepter les termes des conditions générales de services et d’utilisation ainsi que
                la politique de confidentialité
            </label>
        </div>
        {{!-- /formulaire d'inscription --}}

        {{!-- bouton d'inscription --}}
        <div>
            <button type="submit">Je m'inscris</button>
        </div>
        {{!-- /bouton d'inscription --}}
    </form>
</div>

<a href="/">Retour à l'accueil</a>
