{{!----------------titre -----------------}}
<h1>POST</h1>
{{!----------------/titre -----------------}}

{{!------------ Formulaire de création --------------}}
<div>
    <form action="/actuCreate" method="POST" enctype="multipart/form-data">
        {{!-- "form" : correspond au chemin indiqué dans le router.route dans lequel on fera un .post --}}
        {{!-- "method" : correspond à la methode utilisée : ici POST --}}
        <div>
            <div>
                <label for="title" >Titre de l'article</label>
                <input type="text" name="title" required>
                {{!-- bien indiqué là où on saisi les données (input, textarea, ...) le type (text, file, ...) et le name (qui fait référence au req.body.name) --}}
            </div>
        </div>
        <div>
            <div>
                <label for="description">Contenu</label>
                <textarea type="text" name="content" required></textarea>
            </div>
        </div>
        <div>
            <label>
                <input type="file" name="image">
                <span>
                    Envoyer une image
                </span>
            </label>
        </div>
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</div>
{{!------------ /Formulaire de création --------------}}

<a href="/">Retour à l'accueil</a>
